/no-gym-rat/.ipynb_checkpoints/
/no-gym-rat/test-gym/.gym-ai-venv/
/zero-to-ein/.zerogo/
/drumstick/target/
/lepcounter/pkg/
/lepcounter/target/
/lendingahand/target/
/jace-in-winter/target/
/tf-cv-rum-drop/.kokl/
/yell-at-thou/target/
/yell-at-thou/dist/
/light-to-lighting-rock/.lightvenv/
.DS_Store
